.iLoveBeer {
    width: 50%;
}

#myBreweries {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#addBrewery {
    margin: 1rem 0;
}

.deleteNotice {
    font-weight: 700;
}

.myBreweryInfo {
    text-align: center;
}